body {
    color: black;
    background-color: rgb(240, 230, 215)
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

img {
    width: 300px;
    height: 150x;
    border-radius: 50%;
    border: 5px solid black;

}

.center {
    text-align: center;
}